/* Empty. Add your own CSS if you like */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;

 
}

/* ICON FONTS */

@font-face {
	font-family: 'sahiplendir';
	src:url('fonts/sahiplendir.eot?-pxn7uf');
	src:url('fonts/sahiplendir.eot?#iefix-pxn7uf') format('embedded-opentype'),
		url('fonts/sahiplendir.woff?-pxn7uf') format('woff'),
		url('fonts/sahiplendir.ttf?-pxn7uf') format('truetype'),
		url('fonts/sahiplendir.svg?-pxn7uf#sahiplendir') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="sahiplendir-icon-"], [class*=" sahiplendir-icon-"] {
	font-family: 'sahiplendir';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.sahiplendir-icon-veterinarian:before {
	content: "\e600";
}

.sahiplendir-icon-cat:before {
	content: "\e604";
}

.sahiplendir-icon-home:before {
	content: "\e601";
}

.sahiplendir-icon-info:before {
	content: "\e602";
}


/* ---------------------------------- LOGIN ------------------------------------ */
.logo {
	padding: 15px 70px 0px 70px;
}


/* ---------------------------------- HOMEPAGE ------------------------------------ */

.slider {height:100%; padding:0; margin:0}
/*.slider h2 {position:absolute; z-index:999; top:250px; color:#FFF; text-shadow:1px 1px rgba(0,0,0,1.00)}*/
.slider-text { margin-top:-15px;background: #FFF; }
.slider-text  div.title-text {background-color: AliceBlue; border-bottom:solid 1px #DAEDFF}
	
	
	
.slider-text .row, .slider-text .row .col {padding:5px;margin:0}
.slider-text .row .date {text-align:right} 
.slider-text .row .date i {font-size:12px;padding-right:3px} 
.slider-text h4 {padding: 10px 10px 0 10px;font-size:14px; -webkit-animation: alpha-anim 1s ; animation: alpha-anim 1s;}
@-webkit-keyframes alpha-anim {
    from {opacity: 0}
    to {opacity: 1}
}
.post-slider-userpic { width:40px; height 40px; vertical-align:middle}


.side-menu-title {font-size:18px;vertical-align:middle}
.side-menu-profil-pic {width:34px; height:34px}
.side-menu-i {vertical-align:middle;font-size:30px;}
.side-menu-list-item span {height:30px;	line-height:-20px;	vertical-align:middle;}



.background, .background .pane {
   	background-color: rgba(255, 255, 255, 0.5);
	background:url(../img/main_pattern.png);
	
/*	background: #0089bc;
	background: -moz-radial-gradient(center, ellipse cover,  #0089bc 0%, #005d80 100%); 
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#0089bc), color-stop(100%,#005d80));
	background: -webkit-radial-gradient(center, ellipse cover,  #0089bc 0%,#005d80 100%); 
	background: -o-radial-gradient(center, ellipse cover,  #0089bc 0%,#005d80 100%); 
	background: -ms-radial-gradient(center, ellipse cover,  #0089bc 0%,#005d80 100%); 
	background: radial-gradient(ellipse at center,  #0089bc 0%,#005d80 100%); */

}

.radius {
	border-radius: 10px;
}

.center{
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

ion-option-button.button {
  display: -webkit-inline-flex;
  -webkit-align-items: center;
}

ion-option-button.button > i.icon:before {
	font-size:28px;
	line-height:70px;
}




.transparent {
	background-color: rgba(0,0,0,0);
	color: #FFFFFF;
}


.profile-pic {
	width:100px;
	height:100px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: solid 5px #FFF;
	
}

/* loading */

.loading-container .loading {
	padding:0;
	border-radius:0;
	background-color: rgba(0, 0, 0, 0);
}

.loading-custom {
	width:140px;
	height:140px;
	background: #fff url(../img/loading.gif) no-repeat center center;
	background-size: 120px 116px;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius:70px;

}
.loading-custom.bg2 {
	background: #fff url(../img/loading2.gif) no-repeat center center;
	background-size: 120px 116px;
}


/* alert */

.alert-container {
	
}

.alert-container img {
	width: 70px;
	height: 70px;
	padding: 0;
	float:left;
	vertical-align: middle;
	
}

.alert-container div {
	padding-left:10px;
	width: 150px;
	float:left;
	
}

/* ---------------------------------- POST LIST ------------------------------------ */


.bg-anim {-webkit-animation: alpha-anim 2s ; animation: alpha-anim 2s;}



/* ---------------------------------- POST ADD ------------------------------------ */

/* post footer */

.button.button-block.no-margin-top {
	margin-top:0px;
	
}

map {
  display: block;
  width: 100%;
  height: 100%;
}

.scroll.map-content {
	height:100%;
}

.add.bar-subheader {
	height:70px;
}

.add.has-subheader {
	top: 114px;
}
.op {
	opacity:0;
}

.css-fade {
    transition: 1s linear all;
    opacity: 1;
}
.css-fade.ng-hide {
    opacity: 0;
}

/* ---------------------------------- POST DETAIL ------------------------------------ */

.detail > i {
	padding-right:5px;
	
}

.detail.item.item-divider, .detail.item {
	font-size: 14px;
	margin-left:-5px
}

/* ---------------------------------- SIGNUP ------------------------------------ */

input.ng-invalid.ng-dirty {
	color: #FF0000;
}

input.ng-valid.ng-dirty {
	color: #00a77e;
}


















