/* Empty. Add your own CSS if you like */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;

 
}
.slider {
	
	height:420px;
 }
.slider-slide {
  color: #000;
  background-color: #fff;
  text-align: left;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}


.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}
.item img {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}
.list .my-item.item {
  left: 0;
  right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.background, .background .pane {
   	background-color: rgba(255, 255, 255, 0.5);
	background:url(../img/main_pattern.png);
	
/*	background: #0089bc;
	background: -moz-radial-gradient(center, ellipse cover,  #0089bc 0%, #005d80 100%); 
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#0089bc), color-stop(100%,#005d80));
	background: -webkit-radial-gradient(center, ellipse cover,  #0089bc 0%,#005d80 100%); 
	background: -o-radial-gradient(center, ellipse cover,  #0089bc 0%,#005d80 100%); 
	background: -ms-radial-gradient(center, ellipse cover,  #0089bc 0%,#005d80 100%); 
	background: radial-gradient(ellipse at center,  #0089bc 0%,#005d80 100%); */

}

.radius {
	border-radius: 10px;
}





.transparent {
	background-color: rgba(0,0,0,0);
color: #FFFFFF;


}


.profile-pic {
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;;
}

