<ion-view title="Ana Sayfa" hide-back-button="true" animation="slide-left-right">
	 <ion-nav-buttons side="left">
          <button class="button button-clear icon-left sahiplendir-icon-cat"
                  ng-click="addPost()"><b>+</b></button></ion-nav-buttons>
  	<ion-content>
  
	  <ion-slide-box show-pager="true" on-slide-changed='changeSlide(index)' ng-if="showSlidebox">
		<ion-slide ng-repeat="post in posts | limitTo:6">
               
		 <img ng-src="{{post.photos[0].large}}" src="img/empty_post.png" class="full-image" ng-click="gotoPostDetail(post.id)">
     
		</ion-slide>
	  </ion-slide-box>
     <div class="slider-text">
     	   
            <div class="title-text"><h4 ng-show='isHiddenText'><b>{{title}}</b></h4></div>
            <div class="row">
                 <div class="col">        
                    <img ng-src='{{userpic}}' class="post-slider-userpic"><span class="padding-left"> {{userfullname}}</span>
                </div>
                <div class="col col-center date">
                    <i class="icon ion-clock"></i><small>{{timestamp}}</small>
                </div>
            </div>
        
     </div>
     <ion-list>
     	<a ng-href='{{item.href}}' class="item stable" ng-repeat="item in mainLinks" ng-class='item.bg'>
			<i ng-class="item.icon" class="icon padding-right side-menu-i"></i>
			<span>{{item.label}}</span>
		</a>

	 </ion-list>
   
  </ion-content>
</ion-view>