<ion-side-menus ng-controller="SideMenuCtrl">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar animation="nav-title-slide-ios7" class="bar-positive" align-title="center">
      <ion-nav-back-button class="button-icon ion-arrow-left-c"> </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" ng-click="toggleRight()"> </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view animation="slide-left-right" class="background"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right">
    <ion-header-bar class="bar-balanced" align-title="middle">
        <img class="side-menu-profil-pic" ng-src="https://graph.facebook.com/{{user.id}}/picture?type=small">
        <span class="title">{{user.name}}</span>
    </ion-header-bar>
    <ion-content>
      <ion-menu-list ng-controller='SideMenuListCtrl'></ion-menu-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
