<ion-view title="İlan Mesajı Ekle (3/3)">
<div class="bar bar-subheader">Son olarak ilanınıza bir başlık verin ve her türlü detayı buraya girin. Bu alanların doldurulması zorunludur.</div>
	
	<ion-content class="has-subheader">

            
            <div class="list list-inset transparent">
            <img class="padding full-image" ng-src='{{postPhotos[0].large}}'>
                <label class="item item-input">
                    <input type="text" class="stable" placeholder="Başlık" ng-model="postTextData.title">
                </label>
                <label class="item item-input">
                    <textarea rows="10" placeholder="Detay" ng-model="postTextData.message"></textarea>
                </label>
          
              
             </div>
        
 </ion-content>
 
 </ion-view>