<ion-view title="İlan Ekle" class="padding has-header">
	
	<ion-content class="padding">
	
	
		  <div class="item-text-wrap card padding-left">
    		<h4 class="calm">Adım 1: Önce fotoğraf çekin ya da ekleyin.</h4>
  		  </div>
    
    	<div align="center">
		
		
    	 <button class="button button-balanced icon-left ion-camera" ng-click="addPostPhoto('camera')">Fotoğraf Çek</button>
		 <button class="button button-balanced icon-left ion-image" ng-click="addPostPhoto('library')">Fotoğraf Ekle</button>
		</div>
		
		<img class="padding full-image" ng-src='{{lastPhoto}}'>

  	</ion-content>
  
</ion-view>
