<ion-view title="İlan Ekle" class="padding has-header">
	
	<ion-content class="padding">
	<ion-slide-box active-slide="stopSlide(index)" show-pager="false">
		<ion-slide>
        
            <div class="item-text-wrap card">
               <h4 class="calm text-center"><b>Adım 1/2</b><br>Önce fotoğraf çekin ya da ekleyin.</h4>
            </div>
        
            <div align="center">
            
            
             <button class="button button-balanced icon-left ion-camera" ng-click="addPostPhoto('camera')">Fotoğraf Çek</button>
             <button class="button button-balanced icon-left ion-image" ng-click="addPostPhoto('library')">Fotoğraf Ekle</button>
            </div>
            
            
     
		</ion-slide>
        <ion-slide>
        	 <div class="item-text-wrap card">
               <h4 class="calm text-center"><b>Adım 2/2</b><br>Şimdi ilan bilgilerini girebilirsiniz.</h4>
            </div>
            
            <div class="list list-inset transparent">
            <img class="padding full-image radius" ng-src='{{lastPhoto}}'>
                <label class="item item-input">
                    <input type="text" class="stable" placeholder="Başlık">
                </label>
                <label class="item item-input">
                    <textarea cols="40" placeholder="Açıklama"></textarea>
                </label>
          
                <div>
                    <button class="button button-block button-balanced" ng-click="savePost()"> Kaydet </button>
                </div>
             </div>
                    
            
        
        </ion-slide>
        
        
	  </ion-slide-box>
	
  	</ion-content>
  
</ion-view>
