<ion-view title="İlan Detayı" class="padding">

    <ion-content>
        <ion-slide-box show-pager="true" on-slide-changed='changeSlide(index)'>
            <ion-slide ng-repeat="photo in post.photos">

                <img src="{{photo.large}}" class="full-image">

            </ion-slide>

        </ion-slide-box>

        <div class="item"><span><b>{{post.title}}</b></span></div>
        <div class="list detail-panel">

            <div class="detail item item-divider"><i class="icon ion-document"></i>Açıklama</div>
            <div class="item">{{post.message}}</div>
            <div class="detail item item-divider"><i class="icon ion-person"></i>Gönderen</div>
            <div class="item"><img ng-src='{{post.userpic}}' class="post-slider-userpic"><span class="padding-left">{{post.userfullname}}</span>
            </div>
            <div class="detail item item-divider"><i class="icon ion-clock"></i>Gönderim Zamanı</div>
            <div class="item">{{post.time}}</div>
            <div class="detail item item-divider"><i class="icon ion-map"></i>Konum</div>
            <div style="height:250px">
                <map on-create="mapCreated(map)"></map>
            </div>

        </div>


    </ion-content>

</ion-view>
