<ion-view title="İlan Mesajı Ekle (3/3)">
<div class="add bar bar-subheader">Son olarak ilanınıza bir başlık verin ve her türlü detayı buraya girin. Bu alanların doldurulması zorunludur.</div>
	
	<ion-content class="add has-subheader">

            
            <div class="list list-inset transparent">
            <img class="padding full-image" ng-src='{{PostService.getFirstPhoto().large}}'>
                <label class="item item-input">
                    <input type="text" class="stable" placeholder="Başlık" ng-model="p.title" required>
                </label>
                <label class="item item-input">
                    <textarea rows="10" placeholder="Detay" ng-model="p.message" required></textarea>
                </label>
          
              
             </div>
        
 </ion-content>
 
 </ion-view>