<div class="list card">

  
  <div align="center" class="padding">
    <img class="profile-pic" ng-src="https://graph.facebook.com/{{user.id}}/picture?type=normal">
    
  </div>
  
  <div class="item item-icon-left">
    <i class="icon ion-person"></i>
    {{user.name}}
  </div>

  <div class="item item-icon-left">
    <i class="icon ion-email"></i>
    {{user.email}}
  </div>
  
  <div align="center">
		<button class="button button-calm" ng-click="logout()">
			Logout
		</button>
	</div>



</div>