 <ion-content>
 <div align="center" class="logo"><img src="img/logo.png" class="full-image" /></div>
 
  <div class="item-text-wrap card padding-left">
    <h5 class="calm">Lütfen devam etmek için giriş yapınız.</h5>
  </div>

<form name="signin_form" novalidate">
<div class="list list-inset transparent">

	<label class="item item-input">
		<input type="email" class="stable" placeholder="E-Mail" name="email" ng-model="signin.email">
	</label>
	<label class="item item-input">
		<input type="password" placeholder="Şifre" name="password" ng-model="signin.pwd">
	</label>
	
	<div class="button-bar padding-top">
    
		<button class="button  button-clear button-balanced button-small" ng-click="sendLostPassword()"> <b>Şifremi Unuttum</b> </button>
		<button class="button button-balanced button-small" ng-click="signin.submit()">Giriş</button>

	</div>
</form>
    <button class="button button-balanced button-small" ng-click="setAlert('Lorem Ipsum is simply dummy text of the printing and typesetting industry.')">Gönder</button>
	<div class="padding"></div>
	
	<div align="center">
		<button class="button button-calm" ng-click="login()">
			<i class="icon ion-social-facebook padding-right"></i>Facebook ile bağlan
		</button>
		
	</div>

</div>
 </ion-content>