
  <div class="item-text-wrap card padding-left">
    <h4 class="calm">Lütfen aşağıdaki alanları doldurunuz.</h4>
  </div>



<form name="signup_form" novalidate ng-submit="signupForm()">

<div class="list list-inset transparent">
	<label class="item item-input">
		<input type="text" placeholder="İsim" name="firstname" ng-model="signup.firstname" ng-minlength=2 required />
  	</label>
     <div class="error assertive" ng-show="signup_form.firstname.$dirty && signup_form.firstname.$invalid">
            <small class="error" ng-show="signup_form.firstname.$error.required">İsminiz gerekli</small>
            <small class="error" ng-show="signup_form.firstname.$error.minlength">İsminiz en az 2 harf olmak zorunda</small>
     </div>
	<label class="item item-input">
		<input type="text" placeholder="Soyisim" name="lastname" ng-model="signup.lastname" ng-minlength=2 required />
    </label>
    <div class="error assertive" ng-show="signup_form.lastname.$dirty && signup_form.lastname.$invalid">
            <small class="error" ng-show="signup_form.lastname.$error.required">Soyisminiz gerekli</small>
            <small class="error" ng-show="signup_form.lastname.$error.minlength">Soyisminiz en az 2 harf olmak zorunda</small>
    </div>
	<label class="item item-input">
		<input type="email" placeholder="E-Mail" name="email" ng-model="signup.email" ng-minlength=6 email-available />
	</label>
     <div class="error assertive" ng-show="signup_form.email.$dirty && signup_form.email.$invalid">
            <small class="error" ng-show="signup_form.email.$error.minlength">E-mailiniz en az 6 harf olmak zorunda</small>
            <small class="error" ng-show="signup_form.email.$error.email">Geçerli bir e-mail giriniz</small>
            <small class="error" ng-show="signup_form.email.$error.unique">Bu e-mail daha önce kullanılmış</small>
    </div>
	<label class="item item-input">
		<input type="password" placeholder="Şifre" ng-minlength=8 required />
	</label>
	
	<label class="item item-input">
		<input type="password" placeholder="Şifre Tekrarı" ng-minlength=8 required />
	</label>
	<div>
		<button class="button button-block button-balanced" type="submit" ng-click="$state.go('app.home')"> Gönder </button>
	</div>
	
	
	
</div>

<form name="signup_form" novalidate ng-submit="signupForm()">
