<link href="../css/ionic.app.css" rel="stylesheet" type="text/css">
 

<div class="list list-inset">
 <div class="item-text-wrap">
    <h4 class="positive">Lütfen kaydolunuz.</h4>
  </div>

	<label class="item item-input">
		<input type="text" placeholder="İsim">
	</label>
	<label class="item item-input">
		<input type="text" placeholder="Soyisim">
	</label>
	<label class="item item-input">
		<input type="text" placeholder="E-Mail">
	</label>
	<label class="item item-input">
		<input type="password" placeholder="Şifre">
	</label>
	
	<label class="item item-input">
		<input type="password" placeholder="Şifre Tekrarı">
	</label>
	<div>
		<button class="button button-block button-positive" ng-click="$state.go('home')"> Gönder </button>
	</div>
	
	
	
</div>
