 <ion-content>
 <div align="center" class="logo"><img src="img/logo.png" class="full-image" /></div>
  <div class="item-text-wrap card padding-left">
    <h5 class="calm">Lütfen aşağıdaki alanları doldurunuz.</h5>
  </div>



<form name="signup_form" novalidate ng-submit="signup_form.$valid && signup.submit()">


<div class="list list-inset transparent">
	<label class="item item-input">
		<input type="text" placeholder="İsim" name="firstname" ng-model="signup.firstname" ng-minlength=2 required />
  	</label>
    
	<label class="item item-input">
		<input type="text" placeholder="Soyisim" name="lastname" ng-model="signup.lastname" ng-minlength=2 required />
    </label>
   
	<label class="item item-input">
		<input type="email" placeholder="E-Mail" name="email" ng-model="signup.email" ng-minlength=6 email-available />
	</label>
     <div class="error email-in-use ng-hide" ng-show="signup_form.email.$dirty && signup_form.email.$invalid && signup_form.email.$error.unique">
           
            Bu e-mail daha önce kullanılmış
    </div>
	<label class="item item-input">
		<input type="password" placeholder="Şifre" ng-model="signup.pwd" ng-minlength=8 required />
	</label>
	
	<label class="item item-input">
		<input type="password" placeholder="Şifre Tekrarı" ng-model="signup.pwd2" ng-minlength=8 required />
	</label>
	<div>
		<button class="button button-block button-balanced button-small" type="submit"> Gönder </button>
	</div>
	
	
	
</div>

</ion-content>
