
<div class="list list-inset">
	
	
  <div class="item-text-wrap">
    <h4 class="positive">Lütfen devam etmek için giriş yapınız.</h4>
  </div>

	
	<label class="item item-input">
		<input type="text" placeholder="E-Mail">
	</label>
	<label class="item item-input">
		<input type="text" placeholder="Şifre">
	</label>
	
	
	<div>
		<button class="button button-block button-positive" ng-click="$state.go('home')"> Gönder </button>
	</div>
	<div class="padding"></div>
	
	<div align="center">
		<button class="button button-calm" ng-click="login()">
			<i class="icon ion-social-facebook padding-right"></i>Facebook ile bağlan
		</button>
		
	</div>

</div>
