<ion-view title="Veterinerler" class="has-header">
    <div ng-if='vet.length == 0' class="bar bar-subheader">Herhangi bir veteriner bulunmamaktadır.</div>
    <div style="height: 280px">
        <map on-create="mapCreated(map)"></map>
    </div>


    <ion-content class="no-header" style="top: 280px;">
        <ion-nav-view></ion-nav-view>
    </ion-content>
    <!--<marquee>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lo</marquee>-->

</ion-view>